*{
  margin:0;
  padding:0;
}

html,body{
  height:100%;
  width:100%;
}


.container{
  margin:1%;
  height:200%;
  width:100%;

}
.box{
  height:100%;
  width:100%;
  margin:0;
  margin-left:0;
  border:.01px inset;
  border-radius:2%;
}



.mainheading{
  text-align:center;
}

hr{
  width:60%;
  margin-left:25%;

}

.image{
  height:58%;
  width:30%;
  position:absolute;
  left:37%;
  top:35%;
}

.image img{
  width:100%;
 opacity: .9;
  border-radius:50%;
  position:relative;
  top:40%;
  
}

.heading{
  text-align:center;
  position:absolute;
  top:95%;
  left:39%;
}



.mainparagraph{
  position:absolute;
  top:105%;
  left:8%;
}

.mainparagraph p{
  margin-top:4%;
  line-height:1.8;
  
}

.description .hi{
  line-height:2.8;
  position:relative;
  text-align:center;
  position:relative;
  top:50%;
  margin-left:6%;
}

.description{
  position:absolute;
  top:150%;

}

footer{
 position:absolute;
 top:200%;
 text-align:center;
 width:120%;
 left:-10%;
  
}

footer p{
  position:relative;
  top:10%;
  color:black;
  margin-left:6%;
}

ul{
  position:absolute;
  top:30%;
  left:15%;
}

ul li{
  list-style:none;
  text-align: center;
  display:inline;
  font-size:120%;
  margin:20px;
}

ul li a{
  text-decoration: none;
  color:black;
}


ul li a:hover{
  text-decoration: none;
  color:black;
}

ul .current{
	border: 1px inset black;
	border-radius: 8px;
	background:white;
	border-bottom: 7px;
	border-left: 1px inset;
	border-right: 3px inset; 
	padding:3%;
	width:100%;
}




