

.header{
  margin-left:2%;
  width:10%;
  height:10%;
  background:red;
}

.container ul{
  position:relative;
  text-align:center;
  left:70%;
  top:-15px;

  
}



.container ul li{
  display:inline;
  font-size: 20px;
  font-family: fantasy;
  color:black;
  padding:3%;
}

.container a{
  text-decoration:none;
  color:black;
}

.header a {
  text-decoration:none;
 color:black;
  font-family: Dancing Script;
  display:inline;
  position:relative;
  top:10px;
  text-align:left;
  z-index:9;
  font-size:20px; 
}