*{
    margin:0;
    padding:0;
}

html,body{
    height:200%;
    width:100%;
}


.sport{
  position: absolute;
  top:15%;
  left:6%;
  font-family: Dancing Script;
  text-decoration: underline;
  transform: rotateZ(-30deg);
  font-size: 35px;
}

.container{
    width:100%;
    height:10%;
    position:absolute;
}

.heading{
    position:absolute;
    width:16%;
    left:1%;
    top:10%;
}

.heading a{
  text-decoration: none;
  color:black;
  font-family: Dancing Script;
  font-size:27px;
}


 .heading a:hover{
    text-decoration: none;
    color:black;
}

ul li a:hover{
    text-decoration: none;
    color:black;
}


ul{
    width:60%;
    position: absolute;
    left:80%;
    top:20%;
}

ul li{
    display:inline;
}

ul li a{
    margin:3%;
    text-decoration:none;
    font-family:fantasy;
    color:black;
    font-size: 17px;
}



#box{
  position:absolute;
  top:75%;
  left:45%;
  width:15%;
  height:20%;
 z-index:2;
}

 #box.move{
  animation: mob 7s ease forwards;
}
.background #image{
  position:absolute;
  width:60%;
  height:60%;
  z-index:2;
  top:30%;
  border-radius:15%;
  left:20%;
  
  
}
#image.split{
  animation: split 5s 8s linear forwards;
}

#scoreboard{
  width:60%;
  height:0%;
  position:absolute;
  left:20%;
  top:10%;
  background:black;
  
}
#scoreboard .goal{
  font-size:40px;
  font-family:VT323;
  top:20%;
  position:relative;
}
#scoreboard p{
  text-align:center;
  left:2%;
  color:white;
  font-family: VT323;
  font-size:13px;
}

#scoreboard.down{
  animation: score 6s 14s ease forwards;
}
#scoreboard h1{
  color:white;
  text-align:center;
  font-family:VT323;
  font-size:40px;
}

.back{
 position:absolute;
  width:60%;
  height:60%;
  background:#26B6F6;
  z-index:1;
  top:30%;
  left:20%;
  border-radius:15%;
  
}

.pool img{
  position:absolute;
  width:60%;
  height:60%;
  top:150%;
  left:20%;
  border-radius:15%;
}

.football{
  position:absolute;
  top:22%;
  left:47%;
  font-family:Schoolbell;
}

.swimming{
  position:absolute;
  top:135%;
  left:47%;
  font-family:Schoolbell;
}

.bar{
  position:absolute;
  top:250%;
  left:45%;
  font-family:Schoolbell;
}

.explanation{
  position:absolute;
  width:60%;
  top:330%;
  left:20%;
}

.pool .writing{
  position:absolute;
  top:173%;
  width:40%;
  height:35%;
  left:28%;
  background:white;
  z-index:5;
  opacity:.6;
}

.fitness img{
  position:absolute;
  width:60%;
  height:60%;
  top:260%;
  left:20%;
  border-radius:15%;
}

@keyframes mob{
  0%{left:45%; top:75%;width:15%; opacity:1;z-index:2}
  50%{top:50%;width:10% ; left:65%;opacity:1;z-index:2 }
  100%{width:10%; top:50%; left:65%;opacity:0; z-index:-10}
  
}

@keyframes split{
  to{
  transform:rotateY(90deg) rotateX(0deg)
 }
  from{
  transform:rotateY(0deg) rotateX(0deg)}
}

@keyframes score{
  to{height:80%}
  from{height:0%}
}





@keyframes bll{
  0%{left:45%; top:80%;width:10%}
  50%{top:35%;width:8% ; left:85% }
  100%{visibility: hidden;width:8%; top:35%; left:85%}
  
}

