*{
    margin:0;
}

html,body{
    height:170%;
}

.container{
    width:100%;
    height:10%;
    position:absolute;
}

.heading{
    position:absolute;

    width:16%;
    left:1%;
    top:10%;
}

.heading a{
  text-decoration: none;
  color:black;
  font-family: Dancing Script;
  font-size:13px;
}

ul{
    width:60%;
    position: absolute;
    left:60%;
    top:20%;
}

ul li{
    display:inline;
}

ul li a{
    margin:3%;
    text-decoration:none;
    font-family:fantasy;
    color:black;
    font-size: 17px
}


.maldives img {
    position:absolute;
    width:30%;
    height:50%;
    border-radius:50%;
    left:35%;
    top:8%;
}

.maldives_paragraphs{
  position:absolute;
  top:60%;
  left:2%;
  
}

.maldives h1{
    position:absolute;
    left:40%;
    top:10%;
    font-family:rancho;
}

.maldives img {
    position:absolute;
    width:30%;
    height:50%;
    border-radius:50%;
    left:35%;
    top:15%;
}

.maldives_paragraphs{
  position:absolute;
  top:70%;
  left:2%;
  font-family:delius;
}




.Chamonix h1{
    position:absolute;
    left:40%;
    top:100%;
    font-family:rancho;
}


.Chamonix img {
    position:absolute;
    width:30%;
    height:50%;
    border-radius:50%;
    left:35%;
    top:108%;
}

.Chamonix_paragraphs{
  position:absolute;
  top:160%;
  left:2%;
 font-family: delius;
  
}
.Silicon_Valley h1{
    position:absolute;
    left:35%;
    top:190%;
    font-family:rancho;
}


.Silicon_Valley img {
    position:absolute;
    width:30%;
    height:50%;
    border-radius:50%;
    left:33%;
    top:200%;
}

.Silicon_Valley_paragraphs{
  position:absolute;
  top:255%;
  left:2%;
  font-family: delius;
  
}
